<body class="bg-gray-100 flex justify-center items-center min-h-screen bg-cover bg-center" 
style="background-image: url('https://i.pinimg.com/736x/b6/5e/4b/b65e4b2ccfa2f8872d86725924add187.jpg');">
  <div class="flex flex-col items-center w-full max-w-6xl p-8">
    <!-- Tiêu đề -->
    <h1 class="text-5xl font-bold text-white mb-10 text-center">Đăng Nhập</h1>
     <div class="flex w-full ">{{!--  /images/z6314596800112_1755e22fcdd304665eb39139cfcbf465.jpg--}}
      <div class="w-1/2 flex justify-end">
        <div class="w-[600px] h-[450px] bg-gray-300 rounded-l-xl   overflow-hidden shadow-lg">
          <img src="https://atpro.com.vn/wp-content/uploads/2024/05/forum-la-gi.jpg " 
               alt="User 1" 
               class="w-full h-full object-cover">
        </div>
      </div>
      <div class="w-1/2 flex justify-start">
        <div class="bg-white/70 p-8 rounded-r-xl shadow-lg w-[500px] h-[450px] flex flex-col justify-center">
          {{#if error}}
        <p class="text-red-500 text-center">{{error}}</p>
      {{/if}}
      {{#if successMessage}}
    <div class="alert alert-success text-blue">{{successMessage}}</div>
      {{/if}}
          <form action="/dangnhap" method="POST">
            <input type="text" placeholder="Email hoặc số điện thoại" name="username" 
                   class="w-full p-4 border rounded-lg mb-4 focus:ring-2 focus:ring-blue-500">
            <input type="password" placeholder="Mật khẩu" name="password" 
                   class="w-full p-4 border rounded-lg mb-4 focus:ring-2 focus:ring-blue-500">
            <button type="submit" class="w-full bg-blue-600 text-white p-4 rounded-lg hover:bg-blue-700">
              Đăng nhập
            </button>
            <a href="#" class="block text-center text-blue-500 mt-3">Quên mật khẩu?</a>
          </form>
          <hr class="my-6">
          <button class="w-full bg-green-500 text-white p-4 rounded-lg hover:bg-green-600">
            <a href="/dangky" class="text-white hover:underline">Tạo tài khoản mới</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
